<settings>
    <profiles>
        <profile>
            <id>myMavenRepoRead</id>
            <activation>
                <property>
                    <name>UseMyMavenRepo</name>
                </property>
            </activation>
            <properties>
                <myMavenRepoReadUrl>https://https://mymavenrepo.com/repo/tdjLpWrTtvFiRa3NDo3t/</myMavenRepoReadUrl>
            </properties>
        </profile>
     </profiles>
    <servers>
        <server>
            <id>myMavenRepoRead</id>
            <username>myMavenRepo</username>
            <password>Phamduclong99</password>
        </server>
    </servers>
</settings>